body {
    font-size: 18px;
    font-family: "Noto Sans JP", sans-serif;
    color: black;
    margin: 0 0 0 0;
}

nav {
    font-size: 34px;
    display: flex;
    justify-content: space-around;
    margin: 20px 0 20px 0;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    font-weight: bold;
}

h1 {
    font-size: 34px;
}

h2 {
    font-size: 34px;
}

h3 {
    font-size: 24px;
    font-weight: bold;
}

.header-left {
    border: 2px solid black;
}

.header-right {
    padding: 0 20px 0 0;
}

a:link {
     color: black;
}

a:visited {
    color: black;
}

.about {
    max-width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px auto 80px auto;
}

.circle {
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid gray;
    padding: 3px;
}

.text {
    padding-left: 30px;
    margin-left: auto;
}

.works {
    max-width: 960px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 80px;
}

.item {
    width: 30%;
}

.item-center {
    width: 30%;
    padding-right: 20px;
    padding-left: 20px;
}

footer {
    text-align: center;
}

/* 画面幅が767px以下のとき */
@media screen and (max-width: 767px) {
/* スマートフォン用のスタイルを指定する */

    .circle {
        max-width: 300px;
    }

    .item, .item-center {
        /* width: 70%;
        text-align: center; */


        width: 500px;
        max-width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }

    .works {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 40px;
    }

    .text {
        margin: auto;
    }
  }
  
